@font-face {
  font-family: 'Open Sans';
  src: url('https://cdn.jsdelivr.net/gh/paulgethmann/fonts@main/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
