@font-face {
    font-family: 'Blog Script';
    src: url('BlogScript.woff2') format('woff2'),
        url('BlogScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

